<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="1.0.1" package="com.bytopia.abalone" android:versionCode="2">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name="GameActivity" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.bytopia.abalone.GAME" />
				<action android:name="com.bytopia.abalone.RESUMEGAME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="SplashAcitvity">
			<intent-filter>
				<category android:name= "android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		
		<activity android:name="MainMenuActivity">
			<intent-filter>
				<action android:name="com.bytopia.abalone.MAINMENU" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />

</manifest> 